body {
    background-color: rgba(240, 211, 182, 1);
    border-radius: 25;
}

.logo {
    width: 149px;
    height: 153px;
}

.bold {
    font-weight: 700;
}

button{
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: rgba(240, 211, 182, 1);
    border: 1px solid rgba(240, 211, 182, 1);
    margin: 30px;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    color: rgba(89, 58, 40, 1);
}

a.header{
    text-decoration: none;
}

.header:active {
    box-shadow: 10px 5px 5px grey;
}

.cold_drinks_h1 {
    color: rgba(89, 58, 40, 1);
    margin-left: 50px;
    font-size: 28px;
}

.underline {
    text-decoration: underline rgba(191, 70, 0, 1);
}

.cards_cold_drinks {
    margin-left: 50px;
    margin-right: 50px;
}

.card_cold_drinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(252, 238, 226, 1);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.cold_drinks_text {
    width: 220px;
    color: rgba(89, 58, 40, 1);
}

.font_family {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 10px;
}

.bold_2 {
    font-weight: 700;
}

.footer_logos {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -35px;
}

.Youtube {
    width: 107px;
    margin-top: -30px;
}

.footer {
    margin-bottom: -30px;
}