body {
    background-color: rgba(240, 211, 182, 1);
    border-radius: 25;
}

.logo {
    width: 149px;
    height: 153px;
}

.bold {
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: rgba(240, 211, 182, 1);
    border: 1px solid rgba(240, 211, 182, 1);
    margin: 30px;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    color: rgba(89, 58, 40, 1);
}

.header:active {
    box-shadow: 10px 5px 5px grey;
}

.name_h1 {
    color: rgba(89, 58, 40, 1);
    font-size: 48px;
}

.cafe {
    color: rgba(191, 70, 0, 1);
}

.name_p {
    color: rgba(144, 130, 122, 1);
    font-size: 26;
}

.menu_btn {
    border-radius: 30px;
    background-color: rgba(89, 58, 40, 1);
    color: rgba(228, 202, 176, 1);
    font-size: 25px;
    padding: 7px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
}

.menu_btn:active {
    box-shadow: 10px 5px 5px grey;
}

.name {
    display: flex;
    align-items: center;
}

.popular {
    color: rgba(89, 58, 40, 1);
}

.now {
    text-decoration: underline rgba(191, 70, 0, 1);
}

.popular_now {
    font-size: 28px;
    color: rgba(89, 58, 40, 1);
    margin-left: 50px;
}

.card {
    background-color: rgba(252, 238, 226, 1);
    padding: 15px;
    color: rgba(89, 58, 40, 1);
    border-radius: 20px;
}

.cards_main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small {
    margin-right: 0px;
}

.medium {
    margin-left: 200px;
    margin-top: -120px;
}

.big {
    margin-left: -70px;
    margin-top: -70px;
}

.pctr {
    margin-right: 50px;
}

.infrmtn {
    margin-right: 200px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.rectangle {
	width: 1355px;
	height: 342px;
	background: rgba(247, 196, 137, 1);
    border-radius: 60px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: -250px;
}

.product {
    font-size: 25px;
}

.price {
    font-size: 20px;
}

.text {
    font-size: 22px;
    color: rgba(89, 58, 40, 1);
    margin-left: 50px;
    margin-right: 50px;
}

.about_us_inf {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture_about_us {
    margin-right: 50px;
}
.about_us {
    background-color: rgba(255, 241, 227, 1);
    padding-top: 150px;
    padding-bottom: 15px;
}
.hero {
    position: relative;
    top: 140px;
}

.text_instrukcia {
    color: rgba(89, 58, 40, 1);
    font-size: 22px;
    text-align: center;
}

.instrukcia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    text-align: center;
}

.width {
    width: 100px;
}

.num_2 {
    margin-top: -41px;
}

.num_3 {
    margin-bottom: -22px;
}

.num_4 {
    margin-bottom: 8px;
    margin-left: 15px;
    margin-right: 50px;
}

.btn {
    border-radius: 70px;
    border: 3px solid rgba(247, 196, 137, 1);
    background-color: rgba(247, 196, 137, 1);
    font-size: 80px;
    color: rgba(89, 58, 40, 1);
    width: 1000px;
    height: 160px;
}

.menu_2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 241, 227, 1);
    padding: 30px;
}

.menu_button {
    margin: 14px;
}

.btn:active {
    box-shadow: 10px 5px 5px grey;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 10px;
}

.bold_2 {
    font-weight: 700;
}

.footer_logos {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -35px;
}

.Youtube {
    width: 107px;
    margin-top: -30px;
}

.footer {
    margin-bottom: -30px;
}